# MacOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Xcode
build/
*.project
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# Env
.env
.env.local
supabase/config.toml
